{
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {
    "dataLayer": "writable"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:astro/recommended",
    "prettier"
  ],
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "processor": "astro/client-side-ts"
    },
    {
      "files": ["**/*.astro/*.js", "*.astro/*.js"],
      "parser": "@typescript-eslint/parser"
    },
    {
      "files": ["**/*.astro/*.ts", "*.astro/*.ts"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": null
      }
    },
    {
      "files": ["*.ts"],
      "parser": "@typescript-eslint/parser"
    },
    {
      "files": ["**/BaseLayout.astro/*.ts"],
      "rules": {
        "prefer-rest-params": "off"
      }
    }
  ]
}
