@use "../../assets/scss/variables";
@use "../../assets/scss/mixins";
@use "src/assets/scss/mixins/breakpoints";
@use "src/assets/scss/mixins/line-height";
@use "src/assets/scss/mixins/margin";
@use "src/assets/scss/mixins/padding";

.page {
  @include margin.margin-bottom(2);

  .inner {
    @include padding.padding(1, 0.75, 0);
  }

  .title {
    font-size: variables.$typographic-base-font-size * 2.5;
    font-weight: 600;
    @include line-height.line-height(2);
    @include margin.margin-top(0);
    @include margin.margin-bottom(1.45);
  }

  .body {
    font-size: variables.$typographic-base-font-size;
    @include line-height.line-height(1);
    @include margin.margin(0, 0, 1);
  }
}

@include breakpoints.breakpoint-sm {
  .page {
    lost-column: 7/12;

    .inner {
      @include padding.padding(1.25, 0.75, 0);
    }
  }
}

@include breakpoints.breakpoint-md {
  .page {
    lost-column: 2/3;

    .inner {
      @include padding.padding(1.5, 1, 0);
    }
  }
}
