name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Restore npm cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: dependencies-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        run: npm ci

  build:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Restore npm cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: dependencies-${{ hashFiles('package-lock.json') }}

      - name: Build
        run: npm run build

  lint:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Restore npm cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: dependencies-${{ hashFiles('package-lock.json') }}

      - name: Lint
        run: npm run lint

  test:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Restore npm cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: dependencies-${{ hashFiles('package-lock.json') }}

      - name: Run coverage tests
        run: npm run test:coverage -- --runInBand --no-cache

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Configure SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Restore npm cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: dependencies-${{ hashFiles('package-lock.json') }}

      - name: Deploy with gh-pages
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npm run deploy -- -u "github-actions-bot <support+actions@github.com>"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

